mixin main-section(props)
    section.s-main.section&attributes(attributes)
        .container
            .s-main_tours
                each tour in props
                    div(class=`s-main_tour ${tour.class} bg`)
                     .s-main_tour__title= tour.title
                     a.s-main_tour__btn(href="/tour") Исследовать
