mixin slider-item(slide)
    .slider-item.swiper-slide&attributes(attributes)
        .slider__img_wrapper
           .slider__name=slide.name
           .slider__date=new Date(slide.date).toLocaleDateString("en-US", { month: 'long', day: '2-digit', year: 'numeric' })
           +img(slide).slider__img
           .slider__review=slide.review

