$main-color: #575757;
$light-grey: #F5F5F5;
$white: #fff;
$grey: #E2D9D9;
$black: #000000;
$dark-grey: #838282;
$border-grey: #CDCDCD;


$white: #FFFFFF;
$black: #000000;
$blue: #02818A;
$grey:#E6E6E6;


