extends ../../app/pug/layout

block title
    | Bison

block content
    main(data-barba="container" data-barba-namespace="common" data-page-namespace="index")
        +main-section(dataJson.index.tours)
        +offers-section(dataJson.index.cards)
        +tours-section(dataJson.index.popular_tours)
        +subscribe-section
        +team-section(dataJson.index.leads)
