include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/sections/main-section/main-section
include ../../components/sections/offers-section/offers-section
include ../../components/sections/tours-section/tours-section
include ../../components/sections/subscribe-section/subscribe-section
