include ../../components/common/header/header
include ../../components/common/footer/footer
include ../../components/sections/main-section/main-section
include ../../components/sections/offers-section/offers-section
include ../../components/sections/tours-section/tours-section
include ../../components/sections/subscribe-section/subscribe-section
include ../../components/sections/team-section/team-section
include ../../components/sections/reviews-section/reviews-section
include ../../components/blocks/button/button
include ../../components/blocks/slider-item/slider-item
include ../../components/ui/slider/slider

