mixin subscribe-section(props)
    section.s-subscribe.section&attributes(attributes)
        .container
            .s-subscribe_form
                .s-subscribe_form__text Подпишись, чтобы получать последние новости о скидках и новых турах
                button.s-subscribe_form__btn Подписаться
